@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Record Details";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Record Details</h1>
    @if (Model.Initial != null) 
    {
        <a asp-controller="Records" asp-action="Edit" asp-route-id="@Model.Initial.Id" class="btn btn-primary">Update Record</a>
    }
</div>

<div class="tab-buttons">
    <button id="defaultTab" class="tablink" onclick="openTabPage(`details`, this, `lightgrey`)">Details</button>
    <button class="tablink" onclick="openTabPage(`verification`, this, `lightgrey`)">Verification</button>
    <button id="disabledTab" class="tablink" onclick="openTabPage(`employment`, this, `lightgrey`)" disabled>Employment</button>
</div>

<div id="details" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Initial != null)
    {
        <dl>
            <dt>Name: </dt>
            <dd>@Model.Initial.full_name</dd>
            <dt>Sex: </dt>
            <dd>@Model.Initial.sex</dd>
            <dt>Date of Birth: </dt>
            <dd class="dateFormat">@Model.Initial.birthdate</dd>
            <dt>Contact Number: </dt>
            <dd>@Model.Initial.contact_number</dd>
            <dt>E-mail Address: </dt>
            <dd>@Model.Initial.email</dd>
            <dt>Address: </dt>
            <dd>@Model.Initial.address</dd>
            <dt>Sector: </dt>
            <dd>@Model.Initial.sector</dd>
            <dt>Qualification Title: </dt>
            <dd>@Model.Initial.qualification_title</dd>
            <dt>District: </dt>
            <dd>@Model.Initial.district</dd>
            <dt>City: </dt>
            <dd>@Model.Initial.city</dd>
            <dt>Type of Scholarship: </dt>
            <dd>@Model.Initial.scholarship_type</dd>
            <dt>Name of TVI: </dt>
            <dd>@Model.Initial.tvi</dd>
            <dt>Year of Graduation: </dt>
            <dd>@Model.Initial.allocation</dd>
        </dl>
    }
</div>

<div id="verification" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Verification != null)
    {
        <dl>
            <dt>Means of Verification: </dt>
            <dd>@Model.Verification.verification_means</dd>
            <dt>Date of Verification: </dt>
            <dd class="dateFormat">@Model.Verification.verification_date</dd>
            <dt>Status of Verification: </dt>
            <dd id="verification_status">@Model.Verification.verification_status</dd>
            @if (Model.Verification.verification_status == "Responded")
            {
                <dt>Status of Response: </dt>
                <dd>@Model.Verification.response_status</dd>
                @if (Model.Verification.response_status == "Interested")
                {
                    <dt>Refer to Company? </dt>
                    <dd id="referralStatus">@Model.Verification.referral_status</dd>
                    @if (Model.Verification.referral_status == "Yes")
                    {
                        <dt>Date of Referral: </dt>
                        <dd class="dateFormat">@Model.Verification.referral_date</dd>
                    }
                    else
                    {
                        <dt>Reason (No Referral): </dt>
                        <dd>@Model.Verification.no_referral_reason</dd>
                    }
                }
                else
                {
                    <dt>Reason (Not Interested): </dt>
                    <dd>@Model.Verification.not_interested_reason</dd>
                }
            }
            else 
            {
                <dt>First Follow-up Date: </dt>
                <dd class="dateFormat">@Model.Verification.follow_up_date_1</dd>
                <dt>Second Follow-up Date: </dt>
                <dd class="dateFormat">@Model.Verification.follow_up_date_2</dd>
                <dt>Invalid Contact? </dt>
                <dd>@Model.Verification.invalid_contact</dd>
            }
        </dl>
    }
</div>

<div id="employment" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Employment != null)
    {
        <p><b>Company Name: </b>@Model.Employment.company_name</p>
        <p><b>Company Address: </b>@Model.Employment.company_address</p>
        <p><b>Job Title: </b>@Model.Employment.job_title</p>
        <p><b>Status of Employment: </b>@Model.Employment.employment_status</p>
        <p><b>Date Hired: </b>@Model.Employment.hired_date</p>
        <p><b>Date of Submission of Documents: </b>@Model.Employment.submitted_documents_date</p>
        <p><b>Interview Date: </b>@Model.Employment.interview_date</p>
        <p><b>Reason (Not Hired): </b>@Model.Employment.not_hired_reason</p>
    }
</div>

<script src="~/js/Records/details.js" asp-append-version="true"></script>
