@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Record Details";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Record Details</h1>
    @if (Model.Initial != null) 
    {
        <a asp-controller="Records" asp-action="Edit" asp-route-id="@Model.Initial.Id" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
            </svg> Update
        </a>
        <a asp-controller="Records" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        <a asp-controller="Records" asp-action="Delete" asp-route-id="@Model.Initial.Id" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg> Delete
        </a>
    }
</div>

<div class="tab-buttons">
    <button id="defaultTab" class="tablink" onclick="openTabPage(`details`, this, `#7fbafa`, `white`)">Details</button>
    <button class="tablink" onclick="openTabPage(`verification`, this, `#7fbafa`, `white`)">Verification</button>
    <button id="disabledTab" class="tablink" onclick="openTabPage(`employment`, this, `#7fbafa`, `white`)" disabled>Employment</button>
</div>

<div id="details" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Initial != null)
    {
        <dl>
            <dt>Name: </dt>
            <dd>@Model.Initial.full_name</dd>
            <dt>Sex: </dt>
            <dd>@Model.Initial.sex</dd>
            <dt>Date of Birth: </dt>
            <dd class="dateFormat">@Model.Initial.birthdate</dd>
            <dt>Contact Number: </dt>
            <dd>@Model.Initial.contact_number</dd>
            <dt>E-mail Address: </dt>
            <dd>@Model.Initial.email</dd>
            <dt>Address: </dt>
            <dd>@Model.Initial.address</dd>
            <dt>Sector: </dt>
            <dd>@Model.Initial.sector</dd>
            <dt>Qualification Title: </dt>
            <dd>@Model.Initial.qualification_title</dd>
            <dt>District: </dt>
            <dd>@Model.Initial.district</dd>
            <dt>City: </dt>
            <dd>@Model.Initial.city</dd>
            <dt>Type of Scholarship: </dt>
            <dd>@Model.Initial.scholarship_type</dd>
            <dt>Name of TVI: </dt>
            <dd>@Model.Initial.tvi</dd>
            <dt>Year of Graduation: </dt>
            <dd>@Model.Initial.allocation</dd>
        </dl>
    }
</div>

<div id="verification" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Verification != null)
    {
        <dl>
            <dt>Means of Verification: </dt>
            <dd>@Model.Verification.verification_means</dd>
            <dt>Date of Verification: </dt>
            <dd class="dateFormat">@Model.Verification.verification_date</dd>
            <dt>Status of Verification: </dt>
            <dd id="verification_status">@Model.Verification.verification_status</dd>
            @if (Model.Verification.verification_status == "Responded")
            {
                <dt>Status of Response: </dt>
                <dd>@Model.Verification.response_status</dd>
                @if (Model.Verification.response_status == "Interested")
                {
                    <dt>Refer to Company? </dt>
                    <dd id="referralStatus">@Model.Verification.referral_status</dd>
                    @if (Model.Verification.referral_status == "Yes")
                    {
                        <dt>Date of Referral: </dt>
                        <dd class="dateFormat">@Model.Verification.referral_date</dd>
                    }
                    else
                    {
                        <dt>Reason (No Referral): </dt>
                        <dd>@Model.Verification.no_referral_reason</dd>
                    }
                }
                else
                {
                    <dt>Reason (Not Interested): </dt>
                    <dd>@Model.Verification.not_interested_reason</dd>
                }
            }
            else 
            {
                <dt>First Follow-up Date: </dt>
                <dd class="dateFormat">@Model.Verification.follow_up_date_1</dd>
                <dt>Second Follow-up Date: </dt>
                <dd class="dateFormat">@Model.Verification.follow_up_date_2</dd>
                <dt>Invalid Contact? </dt>
                <dd>@Model.Verification.invalid_contact</dd>
            }
        </dl>
    }
</div>

<div id="employment" class="tabcontent" style="font-size: 1.3em;">
    @if (Model.Employment != null)
    {
        <dl>
            <dt>Company Name: </dt>
            <dd>@Model.Employment.company_name</dd>
            <dt>Company Address: </dt>
            <dd>@Model.Employment.company_address</dd>
            <dt>Job Title: </dt>
            <dd>@Model.Employment.job_title</dd>
            <dt>Status of Employment: </dt>
            <dd>@Model.Employment.employment_status</dd>
            @switch (Model.Employment.employment_status)
            {
                case "Hired":
                    <dt>Date Hired: </dt>
                    <dd>@Model.Employment.hired_date</dd>
                    break;

                case "Submitted Documents":
                    <dt>Submission of Documents Date: </dt>
                    <dd>@Model.Employment.submitted_documents_date</dd>
                    break;

                case "For Interview":
                    <dt>Interview Date: </dt>
                    <dd>@Model.Employment.interview_date</dd>
                    break;

                case "Not Hired":
                    <dt>Reason (Not Hired): </dt>
                    <dd>@Model.Employment.not_hired_reason</dd>
                    break;

                default:
                    <dt>Error: </dt>
                    <dd>Unknown status</dd>
                    break;
            }
        </dl>
    }
</div>

@section Scripts {
    <script src="~/js/Records/details.js" asp-append-version="true"></script>
}
