@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Record Details";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Record Details</h1>
    @if (Model.Initial != null) 
    {
        <a asp-controller="Records" asp-action="Edit" asp-route-id="@Model.Initial.Id" class="btn btn-primary">Update Record</a>
    }
</div>

<div class="tab-buttons">
    <button id="defaultTab" class="tablink" onclick="openTabPage(`details`, this, `lightgrey`)">Details</button>
    <button class="tablink" onclick="openTabPage(`verification`, this, `lightgrey`)">Verification</button>
    <button class="tablink" onclick="openTabPage(`employment`, this, `lightgrey`)">Employment</button>
</div>

<div id="details" class="tabcontent">
    @if (Model.Initial != null)
    {
        <dl>
            <dt>Name: </dt>
            <dd>@Model.Initial.full_name</dd>
            <dt>Sex: </dt>
            <dd>@Model.Initial.sex</dd>
            <dt>Date of Birth: </dt>
            <dd>@Model.Initial.birthdate</dd>
            <dt>Contact Number: </dt>
            <dd>@Model.Initial.contact_number</dd>
            <dt>E-mail Address: </dt>
            <dd>@Model.Initial.email</dd>
            <dt>Address: </dt>
            <dd>@Model.Initial.address</dd>
            <dt>Sector: </dt>
            <dd>@Model.Initial.sector</dd>
            <dt>Qualification Title: </dt>
            <dd>@Model.Initial.qualification_title</dd>
            <dt>District: </dt>
            <dd>@Model.Initial.district</dd>
            <dt>City: </dt>
            <dd>@Model.Initial.city</dd>
            <dt>Type of Scholarship: </dt>
            <dd>@Model.Initial.scholarship_type</dd>
            <dt>Name of TVI: </dt>
            <dd>@Model.Initial.tvi</dd>
            <dt>Year of Graduation: </dt>
            <dd>@Model.Initial.allocation</dd>
        </dl>
    }
</div>

<div id="verification" class="tabcontent">
    @if (Model.Verification != null)
    {
        <p><b>Means of Verification: </b>@Model.Verification.verification_means</p>
        <p><b>Date of Verification: </b>@Model.Verification.verification_date</p>
        <p><b>Status of Verification: </b>@Model.Verification.verification_status</p>
        <p><b>First Follow-up Date: </b>@Model.Verification.follow_up_date_1</p>
        <p><b>Second Follow-up Date: </b>@Model.Verification.follow_up_date_2</p>
        <p><b>Status of Response: </b>@Model.Verification.response_status</p>
        <p><b>Reason (Not Interested): </b>@Model.Verification.not_interested_reason</p>
        <p><b>Referral Status: </b>@Model.Verification.referral_status</p>
        <p><b>Date of Referral: </b>@Model.Verification.referral_date</p>
        <p><b>Reason (No Referral): </b>@Model.Verification.no_referral_reason</p>
        <p><b>Invalid Contact: </b>@Model.Verification.invalid_contact</p>
    }
</div>

<div id="employment" class="tabcontent">
    @if (Model.Employment != null)
    {
        <p><b>Company Name: </b>@Model.Employment.company_name</p>
        <p><b>Company Address: </b>@Model.Employment.company_address</p>
        <p><b>Job Title: </b>@Model.Employment.job_title</p>
        <p><b>Status of Employment: </b>@Model.Employment.employment_status</p>
        <p><b>Date Hired: </b>@Model.Employment.hired_date</p>
        <p><b>Date of Submission of Documents: </b>@Model.Employment.submitted_documents_date</p>
        <p><b>Interview Date: </b>@Model.Employment.interview_date</p>
        <p><b>Reason (Not Hired): </b>@Model.Employment.not_hired_reason</p>
    }
</div>

<script src="~/js/Records/details.js" asp-append-version="true"></script>
