@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Record";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Update Record</h1>
    <a asp-controller="Records" asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>

<div class="tab-buttons">
    <button class="tablink" id="detailsTab">Details</button>
    <button class="tablink" id="verificationTab">Verification</button>
    <button class="tablink" id="employmentTab">Employment</button>
</div>

<div id="details" class="tabcontent">
    @if (Model.Initial != null)
    {
        <dl>
            <dt>Name: </dt>
            <dd>@Model.Initial.full_name</dd>
            <dt>Sex: </dt>
            <dd>@Model.Initial.sex</dd>
            <dt>Date of Birth: </dt>
            <dd class="dateFormat">@Model.Initial.birthdate</dd>
            <dt>Contact Number: </dt>
            <dd>@Model.Initial.contact_number</dd>
            <dt>E-mail Address: </dt>
            <dd>@Model.Initial.email</dd>
            <dt>Address: </dt>
            <dd>@Model.Initial.address</dd>
            <dt>Sector: </dt>
            <dd>@Model.Initial.sector</dd>
            <dt>Qualification Title: </dt>
            <dd>@Model.Initial.qualification_title</dd>
            <dt>District: </dt>
            <dd>@Model.Initial.district</dd>
            <dt>City: </dt>
            <dd>@Model.Initial.city</dd>
            <dt>Type of Scholarship: </dt>
            <dd>@Model.Initial.scholarship_type</dd>
            <dt>Name of TVI: </dt>
            <dd>@Model.Initial.tvi</dd>
            <dt>Year of Graduation: </dt>
            <dd>@Model.Initial.allocation</dd>
        </dl>
    }
</div>

<form asp-action="Edit" method="post">
    <div id="verification" class="tabcontent">
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.Verification != null)
            {
                <div class="form-group mb-4">
                    <input asp-for="@Model.Verification.Id" class="form-control" type="number" placeholder="0" hidden />
                </div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_means" class="form-label control-label-1">Means of Verification</label>
                    <select asp-for="@Model.Verification.verification_means" class="form-control">
                        <option value="">None</option>
                        <option value="For Verification">For Verification</option>
                        <option value="Phone-called">Phone-called</option>
                        <option value="E-mailed">E-mailed</option>
                        <option value="SMS">SMS</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_date" class="form-label control-label-1">Date of Verification</label>
                    <input asp-for="@Model.Verification.verification_date" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Verification.verification_status" class="form-label control-label-1">Status of Verification</label>

                    <div class="form-check">
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="Responded" id="respondedBtn" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">Responded</label>
                        <br />
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="No Response" id="noResponseBtn" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">No Response</label>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="responded">
                    <div class="form-group">
                        <label asp-for="@Model.Verification.response_status" class="form-label control-label-1">Type of Response</label>

                        <div style="margin-left: 30px" class="form-check">
                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Interested" id="interestedBtn" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.referral_status" class="form-label control-label-2">Refer to Company?</label>

                                <div style="margin-left: 30px">
                                    <fieldset id="referralStatusForm" disabled>
                                        <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="Yes" id="referYesBtn" />
                                        <label asp-for="@Model.Verification.referral_status" class="form-label">YES</label>
                                        <br />
                                        <input asp-for="@Model.Verification.referral_date" class="form-control" type="date" id="referralDate" disabled />
                                        <br />
                                        <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="No" id="referNoBtn" />
                                        <label asp-for="@Model.Verification.referral_status" class="form-label">NO</label>
                                        <br />
                                        <label asp-for="@Model.Verification.no_referral_reason" class="form-label">Reason</label>
                                        <input asp-for="@Model.Verification.no_referral_reason" class="form-control" type="text" id="noReferralReason" disabled />
                                    </fieldset>
                                </div>
                            </div><br />

                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Not Interested" id="notInterestedBtn" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Not Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.not_interested_reason" class="form-label">Reason</label>
                                <input asp-for="@Model.Verification.not_interested_reason" class="form-control" type="text" row="5" id="notInterestedReason" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="noResponse">
                    <div class="form-group">
                        <label class="form-label control-label-2">No Response (For Follow-up)</label>

                        <div style="margin-left: 30px" class="mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_1" class="form-label">First Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_1" class="form-control" type="date" id="followup1" />
                        </div>
                        <div style="margin-left: 30px" class="indent mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_2" class="form-label">Second Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_2" class="form-control" type="date" id="followup2" />
                        </div>
                        <div style="margin-left: 30px" class="form-check mb-4 indent">
                            <input asp-for="@Model.Verification.invalid_contact" class="form-check-input" type="checkbox" id="invalidContact" />
                            <label asp-for="@Model.Verification.invalid_contact" class="form-check-label">Invalid Contact</label>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                @if (Model.Initial != null)
                {
                    <a asp-controller="Records" asp-action="Details" asp-route-id="@Model.Initial.Id" class="btn btn-secondary">Cancel</a>
                }
            </div>
        </div>
    </div>
    <div id="employment" class="tabcontent">
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset id="employmentField" disabled>
                @if (Model.Employment != null)
                {
                    <div class="form-group mb-4">
                        <input asp-for="@Model.Employment.Id" class="form-control" type="number" placeholder="0" id="test" hidden />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.company_name" class="form-label control-label-1">Name of Company</label>
                        <input asp-for="@Model.Employment.company_name" class="form-control" type="text" id="companyName" />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.company_address" class="form-label control-label-1">Address</label>
                        <input asp-for="@Model.Employment.company_address" class="form-control" type="text" row="5" id="companyAddress" />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.job_title" class="form-label control-label-1">Job Title</label>
                        <input asp-for="@Model.Employment.job_title" class="form-control" type="text" id="jobTitle" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label control-label-1">Employment Status</label>

                        <div class="form-check">
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Hired" id="hired" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label bold-underline">Hired</label>
                            <div class="indent mb-4">
                                <input asp-for="@Model.Employment.hired_date" class="form-control" type="date" id="hiredDate" disabled />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Submitted Documents" id="submitDocs" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label bold-underline">Submitted Documents</label>
                            <div class="indent-1 mb-4">
                                <input asp-for="@Model.Employment.submitted_documents_date" class="form-control" type="date" id="submitDocsDate" disabled />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="For Interview" id="forInterview" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label bold-underline">For Interview</label>
                            <div class="indent-1 mb-4">
                                <input asp-for="@Model.Employment.interview_date" class="form-control" type="date" id="interviewDate" disabled />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Not Hired" id="notHired" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label bold-underline">Not Hired</label>
                            <div class="indent-1 mb-4">
                                <label asp-for="@Model.Employment.not_hired_reason" class="form-label">Reason</label>
                                <select asp-for="@Model.Employment.not_hired_reason" class="form-control" id="notHiredReason" disabled>
                                    <option value="">None</option>
                                    <option value="Underage">Underage</option>
                                    <option value="Upskilling">Upskilling</option>
                                    <option value="Lack of experience">Lack of experience</option>
                                    <option value="Did not meet the requirements">Did not meet the requirements</option>
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @if (Model.Initial != null)
                    {
                        <a asp-controller="Records" asp-action="Details" asp-route-id="@Model.Initial.Id" class="btn btn-secondary">Cancel</a>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/Records/edit.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}