@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Record";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Edit Data Record</h1>
</div>

<div class="tab-buttons">
    <button id="defaultTab" class="tablink" onclick="openTabPage(`details`, this, `lightgrey`)">Details</button>
    <button class="tablink" onclick="openTabPage(`verification`, this, `lightgrey`)">Verification</button>
    <button class="tablink" onclick="openTabPage(`employment`, this, `lightgrey`)">Employment</button>
</div>

<div id="details" class="tabcontent">
    @if (Model.Initial != null)
    {
        <p><b>Name: </b>@Model.Initial.full_name</p>
        <p><b>Sex: </b>@Model.Initial.sex</p>
        <p><b>Date of Birth: </b>@Model.Initial.birthdate</p>
        <p><b>Contact Number: </b>@Model.Initial.contact_number</p>
        <p><b>E-mail Address: </b>@Model.Initial.email</p>
        <p><b>Address: </b>@Model.Initial.address</p>
        <p><b>Sector: </b>@Model.Initial.sector</p>
        <p><b>Qualification Title: </b>@Model.Initial.qualification_title</p>
        <p><b>District: </b>@Model.Initial.district</p>
        <p><b>City: </b>@Model.Initial.city</p>
        <p><b>Type of Scholarship: </b>@Model.Initial.scholarship_type</p>
        <p><b>Name of TVI: </b>@Model.Initial.tvi</p>
        <p><b>Year of Graduation: </b>@Model.Initial.allocation</p>
    }
</div>

<div id="verification" class="tabcontent">
    <div class="container">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.Verification != null)
            {
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_means" class="form-label control-label">Means of Verification</label>
                    <select asp-for="@Model.Verification.verification_means" class="form-control">
                        <option value="">None</option>
                        <option value="For Verification">For Verification</option>
                        <option value="Phone-called">Phone-called</option>
                        <option value="E-mailed">E-mailed</option>
                        <option value="SMS">SMS</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_date" class="form-label control-label">Date of Verification</label>
                    <input asp-for="@Model.Verification.verification_date" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Verification.verification_status" class="form-label control-label">Status of Verification</label>

                    <div class="form-check">
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="Responded" onclick="verificationStatusValue(true)" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">Responded</label>
                        <br />
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="No Response" onclick="verificationStatusValue(false)" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">No Response</label>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="responded">
                    <div class="form-group">
                        <label asp-for="@Model.Verification.response_status" class="form-label control-label">Type of Response</label>

                        <div class="form-check indent">
                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Interested" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.referral_status" class="form-label control-label-1">Refer to Company?</label>

                                <div class="indent">
                                    <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="Yes" />
                                    <label asp-for="@Model.Verification.referral_status" class="form-label">YES</label>
                                    <br />
                                    <input asp-for="@Model.Verification.referral_date" class="form-control" type="date" />
                                    <br />
                                    <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="No" />
                                    <label asp-for="@Model.Verification.referral_status" class="form-label">NO</label>
                                    <br />
                                    <label asp-for="@Model.Verification.no_referral_reason" class="form-label">Reason</label>
                                    <input asp-for="@Model.Verification.no_referral_reason" class="form-control" type="text" />
                                </div>
                            </div><br />

                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Not Interested" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Not Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.not_interested_reason" class="form-label">Reason</label>
                                <input asp-for="@Model.Verification.not_interested_reason" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="no_response">
                    <div class="form-group">
                        <label class="form-label control-label-1">No Response (For Follow-up)</label>

                        <div class="indent mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_1" class="form-label">First Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_1" class="form-control" type="date" />
                        </div>
                        <div class="indent mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_2" class="form-label">Second Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_2" class="form-control" type="date" />
                        </div>
                        <div class="form-check mb-4 indent">
                            <input asp-for="@Model.Verification.invalid_contact" class="form-check-input" type="checkbox" value="" />
                            <label asp-for="@Model.Verification.invalid_contact" class="form-check-label">Invalid Contact</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @if (Model.Initial != null)
                    {
                        <a asp-controller="Records" asp-action="Details" asp-route-id="@Model.Initial.Id" class="btn btn-secondary">Cancel</a>
                    }
                </div>
            }
        </form>
    </div>
</div>

<div id="employment" class="tabcontent">
    <h2>Employment</h2>
    <p>Employment: EmploymentRecord</p>
</div>

<script src="~/js/Records/edit.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}