@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Record";
}
@model EmploymentMonitoringSystem.Utilities.Records

<div class="text-center mb-4">
    <h1 class="display-4">Edit Data Record</h1>
</div>

<div class="tab-buttons">
    <button id="defaultTab" class="tablink" onclick="openTabPage(`details`, this, `lightgrey`)">Details</button>
    <button class="tablink" onclick="openTabPage(`verification`, this, `lightgrey`)">Verification</button>
    <button class="tablink" onclick="openTabPage(`employment`, this, `lightgrey`)">Employment</button>
</div>

<div id="details" class="tabcontent">
    @if (Model.Initial != null)
    {
        <p><b>Name: </b>@Model.Initial.full_name</p>
        <p><b>Sex: </b>@Model.Initial.sex</p>
        <p><b>Date of Birth: </b>@Model.Initial.birthdate</p>
        <p><b>Contact Number: </b>@Model.Initial.contact_number</p>
        <p><b>E-mail Address: </b>@Model.Initial.email</p>
        <p><b>Address: </b>@Model.Initial.address</p>
        <p><b>Sector: </b>@Model.Initial.sector</p>
        <p><b>Qualification Title: </b>@Model.Initial.qualification_title</p>
        <p><b>District: </b>@Model.Initial.district</p>
        <p><b>City: </b>@Model.Initial.city</p>
        <p><b>Type of Scholarship: </b>@Model.Initial.scholarship_type</p>
        <p><b>Name of TVI: </b>@Model.Initial.tvi</p>
        <p><b>Year of Graduation: </b>@Model.Initial.allocation</p>
    }
</div>

<form asp-action="Edit" method="post">
    <div id="verification" class="tabcontent">
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.Verification != null)
            {
                <div class="form-group mb-4">
                    <input asp-for="@Model.Verification.Id" class="form-control" type="number" placeholder="0" hidden />
                </div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_means" class="form-label control-label">Means of Verification</label>
                    <select asp-for="@Model.Verification.verification_means" class="form-control">
                        <option value="">None</option>
                        <option value="For Verification">For Verification</option>
                        <option value="Phone-called">Phone-called</option>
                        <option value="E-mailed">E-mailed</option>
                        <option value="SMS">SMS</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Verification.verification_date" class="form-label control-label">Date of Verification</label>
                    <input asp-for="@Model.Verification.verification_date" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Verification.verification_status" class="form-label control-label">Status of Verification</label>

                    <div class="form-check">
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="Responded" onclick="verificationStatusValue(true)" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">Responded</label>
                        <br />
                        <input asp-for="@Model.Verification.verification_status" class="form-check-input" type="radio" value="No Response" onclick="verificationStatusValue(false)" />
                        <label asp-for="@Model.Verification.verification_status" class="form-label">No Response</label>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="responded">
                    <div class="form-group">
                        <label asp-for="@Model.Verification.response_status" class="form-label control-label">Type of Response</label>

                        <div style="margin-left: 30px" class="form-check">
                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Interested" id="interested" onclick="isInterested()" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.referral_status" class="form-label control-label-1">Refer to Company?</label>

                                <div style="margin-left: 30px">
                                    <fieldset id="referralStatus" disabled>
                                        <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="Yes" id="referYes" onclick="canRefer()" />
                                        <label asp-for="@Model.Verification.referral_status" class="form-label">YES</label>
                                        <br />
                                        <input asp-for="@Model.Verification.referral_date" class="form-control" type="date" id="referralDate" disabled />
                                        <br />
                                        <input asp-for="@Model.Verification.referral_status" class="form-check-input" type="radio" value="No" id="referNo" onclick="notRefer()" />
                                        <label asp-for="@Model.Verification.referral_status" class="form-label">NO</label>
                                        <br />
                                        <label asp-for="@Model.Verification.no_referral_reason" class="form-label">Reason</label>
                                        <input asp-for="@Model.Verification.no_referral_reason" class="form-control" type="text" id="noReferralReason" disabled />
                                    </fieldset>
                                </div>
                            </div><br />

                            <input asp-for="@Model.Verification.response_status" class="form-check-input" type="radio" value="Not Interested" id="notInterested" onclick="isNotInterested()" />
                            <label asp-for="@Model.Verification.response_status" class="form-label">Not Interested</label>
                            <div>
                                <label asp-for="@Model.Verification.not_interested_reason" class="form-label">Reason</label>
                                <input asp-for="@Model.Verification.not_interested_reason" class="form-control" type="text" row="5" id="notInterestedReason" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-toggle mb-4" id="noResponse">
                    <div class="form-group">
                        <label class="form-label control-label-1">No Response (For Follow-up)</label>

                        <div style="margin-left: 30px" class="mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_1" class="form-label">First Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_1" class="form-control" type="date" id="followup1" />
                        </div>
                        <div style="margin-left: 30px" class="indent mb-4">
                            <label asp-for="@Model.Verification.follow_up_date_2" class="form-label">Second Follow-up</label>
                            <input asp-for="@Model.Verification.follow_up_date_2" class="form-control" type="date" id="followup2" />
                        </div>
                        <div style="margin-left: 30px" class="form-check mb-4 indent">
                            <input asp-for="@Model.Verification.invalid_contact" class="form-check-input" type="checkbox" value="" id="invalidContact" onclick="contactStatus()" />
                            <label asp-for="@Model.Verification.invalid_contact" class="form-check-label">Invalid Contact</label>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                @if (Model.Initial != null)
                {
                    <a asp-controller="Records" asp-action="Details" asp-route-id="@Model.Initial.Id" class="btn btn-secondary">Cancel</a>
                }
            </div>
        </div>
    </div>
    <div id="employment" class="tabcontent">
        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset id="employmentField" disabled>
                @if (Model.Employment != null)
                {
                    <div class="form-group mb-4">
                        <input asp-for="@Model.Employment.Id" class="form-control" type="number" placeholder="0" id="test" hidden />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.company_name" class="form-label control-label">Name of Company</label>
                        <input asp-for="@Model.Employment.company_name" class="form-control" type="text" />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.company_address" class="form-label control-label">Address</label>
                        <input asp-for="@Model.Employment.company_address" class="form-control" type="text" row="5" />
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="@Model.Employment.job_title" class="form-label control-label">Job Title</label>
                        <input asp-for="@Model.Employment.job_title" class="form-control" type="text" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label control-label">Employment Status</label>

                        <div class="form-check">
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Hired" id="hired" onclick="employmentStatusValue(this)" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label">Hired</label>
                            <div class="indent mb-4">
                                <input asp-for="@Model.Employment.hired_date" class="form-control" type="date" id="hiredDate" />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Submitted Documents" id="submitDocs" onclick="employmentStatusValue(this)" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label">Submitted Documents</label>
                            <div class="indent-1 mb-4">
                                <input asp-for="@Model.Employment.submitted_documents_date" class="form-control" type="date" id="submitDocsDate" />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="For Interview" id="forInterview" onclick="employmentStatusValue(this)" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label">For Interview</label>
                            <div class="indent-1 mb-4">
                                <input asp-for="@Model.Employment.interview_date" class="form-control" type="date" id="interviewDate" />
                            </div>
                            <input asp-for="@Model.Employment.employment_status" class="form-check-input" type="radio" value="Not Hired" id="notHired" onclick="employmentStatusValue(this)" />
                            <label asp-for="@Model.Employment.employment_status" class="form-label">Not Hired</label>
                            <div class="indent-1 mb-4">
                                <label asp-for="@Model.Employment.not_hired_reason" class="form-label">Reason</label>
                                <select asp-for="@Model.Employment.not_hired_reason" class="form-control" id="notHired">
                                    <option value="">None</option>
                                    <option value="Underage">Underage</option>
                                    <option value="Upskilling">Upskilling</option>
                                    <option value="Lack of experience">Lack of experience</option>
                                    <option value="Did not meet the requirements">Did not meet the requirements</option>
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @if (Model.Initial != null)
                    {
                        <a asp-controller="Records" asp-action="Details" asp-route-id="@Model.Initial.Id" class="btn btn-secondary">Cancel</a>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</form>



<script src="~/js/Records/edit.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}